:root {
    /* ヘッダー  */
    --header-color: #A0D0FF;
    --header-height: 10vh;

    /* フッター */
    --footer-color: #F8F8F8;
    --footer-height: 10vh;

    /* コンテンツ */
    --content-min-height: 70vh; /* 100 - 30(header + footer + margin)  = 70 [vh] */

    /* Font */
    --main-font: "M PLUS 1p";
    --weight-min: 100;
    --weight-middle: 400;
    --weight-bold: 700;
    --weight-max: 900;

    /* Basic Option */
    --white-strong: #fafafa;
    --white-weak: #dddddd;
    --black-strong: #202020;
    --black-weak: #303030;
    --success-color: #009944;
    --error-color: #cf000f;
}

body {
    font-family: var(--main-font), Avenir, Helvetica, Arial, sans-serif;
    color: var(--black-weak);
    font-weight: var(--weight-middle);
    font-size: 1.5vw;

    display: grid;
    grid-template: "header" var(--header-height) "content" 1fr "footer" var(--footer-height);
}

#header {
    grid-area: header;

    /* Font */
    font-weight: var(--weight-bold);
    font-size: 3vw;
}

#header > a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--header-color);
}

.content {
    grid-area: content;

    min-height: var(--content-min-height);
    padding: 5vh 5vw;
}

#footer {
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--footer-color);
}

#footer > p {
    margin: 0.5vh;
}
